<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="3">
						<table>
							<tr>
								<td class="title">
                                    <h1 style="margin-top: auto; margin-bottom: auto;">PayUp</h1>
									<img src="/images/shut-up-logo-1000.png" style="width: 100%; max-width: 200px" alt="PayUp Logo here" />
								</td>
								<td class="information">
									
                                    <h3>Order:</h3> <h4>#{{clientData.order_num}}</h4><br/>
									<h3>Created:</h3> <h4>{{now}}</h4><br/>
                                    <h3>PayUp:</h3> <h4>14 days after issue</h4>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="3">
						<table>
							<tr>
								<td>
                                    <h4>Issued to:</h4>
									<h3 class="text-info">{{clientData.client}}</h3>
								</td>
                                    
								<td>
                                    <h4>From:</h4>
									<h3 class="text-info">{{userData.name}}</h3>
                                    <p class="text-muted">{{userData.address}}</p><br>

								</td>
							</tr>
						</table>
					</td>
				</tr>


				<tr class="heading">
                    <td>Item</td>
                    <td>ID</td>
					<td>Price</td>
				</tr>
               
                {{#each productData as |product|}}
				<tr class="item">
                    
					<td>{{product.name}}</td>
					<td>{{product.product_quantity}}</td>
					<td>{{product.price}}</td>
                    <!-- RETURNS AS 1 OR 0 -->
                    <td>{{product.in_stock}}</td>
                   
				</tr>
               {{/each}}
                <tr class="total">
					<td></td>
                    <!-- NEED TO WRITE FUNCTION -->
					<td>Total: </td>

				</tr>


             <!-- NECESSARY? -->
                <tr class="heading">
					<td>Payment Method</td>
                    <td> </td>
					<td>Check #</td>
				</tr>
                <tr class="details">
					<td>Check</td>
                    <td> </td>
					<td>1000</td>
				</tr>
			</table>
		</div>