		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="3">
						<table>
							<tr>
								<td class="title">
                                    <h4 style="margin-top: auto; margin-bottom: auto;">PayUp</h4>
									<img src="/public/images/shut-up-logo-1000.png" style="width: 100%; max-width: 200px" alt="PayUp Logo here" />
								</td>
								<td class="information">
									Order: {{clientData.order_num}}<br/>
									Created: {{now}} <br/>
                                    PayUp: 14 days after issue
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="3">
						<table>
							<tr>
								<td>
									{{clientData.client}}
								</td>

								<td>
									{{userData.name}} <br>
                                    {{userData.address}} <br>

								</td>
							</tr>
						</table>
					</td>
				</tr>


				<tr class="heading">
                    <td>Item</td>
                    <td>ID</td>
					<td>Price</td>
				</tr>

				<tr class="item">
					<td>{{invoiceUserData.name}}</td>
					<td>{{invoiceUserData.product_quantity}}</td>
                    {{!-- <td>{{invoiceUserData.product_id}}</td> --}}
					<td>{{invoiceUserData.price}}</td>
					<td>{{invoiceUserData.in_stock}}</td>
				</tr>

				<tr class="item">
					<td>{{Product.something2}}</td>
                    <td>{{product_id}}</td>
					<td>{{price.this product}}</td>
				</tr>

				<tr class="item last">
					<td>{{Product.something3}}</td>
                    <td>{{product_id}}</td>
					<td>{{price.this product}}</td>
				</tr>

				<tr class="total">
					<td></td>
					<td>Total: {{total_price}}</td>

				</tr>

                <tr class="heading">
					<td>Payment Method</td>
                    <td> </td>
					<td>Check #</td>
				</tr>
                <tr class="details">
					<td>Check</td>
                    <td> </td>
					<td>1000</td>
				</tr>
			</table>
		</div>